# 6. Working with Dictionaries
* A dictionary in Python is a collection of key-value pairs. 
* Each key is connected to a value, and you can use a key to access the value associated with that key.
* A keyâ€™s value can be a number, a string, a list, or even another dictionary.

* `Key` is the unique identifier to find data and the `value` is the data

* A dictionary is a collection which is ordered*, changeable and does not allow duplicates.

* Unlike strings, lists, and tuples, **dictionaries are not sequences** - the data are not stored in order. 
* List can be represented by [ ], Tuple can be represented by ( ), Dictionary  can be represented by { }

In [2]:
Dict={}
type(Dict)

dict

In [3]:
Dict1=dict()
type(Dict1)

dict

In [18]:
data={'Alabama':'Montgomery',
     'Arizona':'Phoenix',
     'Georgia':'Atlanta',
     'Kentucky':'Frankfort',
     'Ohio':'Columbus'}

### Access `values` from a dictionary using key
* Key and values can be any data types
* Accessing key value not present in dictionary generated KeyError

In [19]:
data['Ohio']

'Columbus'

In [20]:
data['Georgia']

'Atlanta'

In [21]:
#data['New York']#Key work not in data/dict

In [4]:
day={1: 'Monday',
    2: 'Tuesday',
    4: ('Thursday', 'Friday'),
    5:['Saturday','Sunday']}

### Update elements of a dictionary and add new elements

In [5]:
day[5][1]

'Sunday'

In [6]:
day[4][0]

'Thursday'

In [7]:
day[3]='Wednesday'

In [8]:
day

{1: 'Monday',
 2: 'Tuesday',
 4: ('Thursday', 'Friday'),
 5: ['Saturday', 'Sunday'],
 3: 'Wednesday'}

In [9]:
#update saturday to a holiday
day[5][0]='Holiday' #access then assign
day

{1: 'Monday',
 2: 'Tuesday',
 4: ('Thursday', 'Friday'),
 5: ['Holiday', 'Sunday'],
 3: 'Wednesday'}

In [10]:
#day[4][0]='holiday' #Cannot update a tuple

### `get` and `update` methods
- get used to access a value from dictionary
- update the dictionary with new value also update old value

In [29]:
# return wednesday
day.get(3)

'Wednesday'

In [30]:
# Monday
day.get(1)

'Monday'

In [11]:
day.get(6) #not generate an error if the key is not present in the dictionary

In [32]:
#day[6] does generate an error if the key is not present in the dictionary

In [33]:
day

{1: 'Monday',
 2: 'Tuesday',
 4: ('Thursday', 'Friday'),
 5: ['Holiday', 'Sunday'],
 3: 'Wednesday'}

In [22]:
data={'Alabama':'Montgomery',
     'Arizona':'Pheonix',
     'Georgia':'Atlanta',
     'Kentucky':'Frankfort',
     'Ohio':'Columbus'}

In [23]:
#updated old entry
data.update({'Kentucky':'Louisville'})
data

{'Alabama': 'Montgomery',
 'Arizona': 'Pheonix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Louisville',
 'Ohio': 'Columbus'}

In [24]:
# added new entry
data.update({'Louisiana':'Baton Rouge'})
data

{'Alabama': 'Montgomery',
 'Arizona': 'Pheonix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Louisville',
 'Ohio': 'Columbus',
 'Louisiana': 'Baton Rouge'}

In [25]:
data.update({'Missouri':'Jefferson City'})
data

{'Alabama': 'Montgomery',
 'Arizona': 'Pheonix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Louisville',
 'Ohio': 'Columbus',
 'Louisiana': 'Baton Rouge',
 'Missouri': 'Jefferson City'}

### Delete dictionary items using `del` and `pop`

In [26]:
#delete Alabama using del method
del data['Alabama']
data

{'Arizona': 'Pheonix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Louisville',
 'Ohio': 'Columbus',
 'Louisiana': 'Baton Rouge',
 'Missouri': 'Jefferson City'}

In [27]:
data.pop('Ohio')

'Columbus'

In [28]:
data

{'Arizona': 'Pheonix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Louisville',
 'Louisiana': 'Baton Rouge',
 'Missouri': 'Jefferson City'}

In [29]:
#delete the dictionary
del data

### Number of elements in the dictionary and extracting `keys()`, `values()`, `items()`

In [32]:
data={'Alabama':'Montgomery',
     'Arizona':'Pheonix',
     'Georgia':'Atlanta',
     'Kentucky':'Frankfort',
     'Ohio':'Columbus'}

In [33]:
data.keys()

dict_keys(['Alabama', 'Arizona', 'Georgia', 'Kentucky', 'Ohio'])

In [34]:
data.values()

dict_values(['Montgomery', 'Pheonix', 'Atlanta', 'Frankfort', 'Columbus'])

In [35]:
data.items()

dict_items([('Alabama', 'Montgomery'), ('Arizona', 'Pheonix'), ('Georgia', 'Atlanta'), ('Kentucky', 'Frankfort'), ('Ohio', 'Columbus')])

### Loop through a dictionary for

In [49]:
# unpack the dictionary keys
for i in data.keys():
    print(i)
    print(type(i))

Alabama
<class 'str'>
Arizona
<class 'str'>
Georgia
<class 'str'>
Kentucky
<class 'str'>
Ohio
<class 'str'>

In [50]:
#unpack the dictionary values
for j in data.values():
    print(j)

Montgomery
Phoenix
Atlanta
Frankfort
Columbus

In [51]:
# dictionary items
for k in data.items():
    print(k)
    print(type(k))

('Alabama', 'Montgomery')
<class 'tuple'>
('Arizona', 'Phoenix')
<class 'tuple'>
('Georgia', 'Atlanta')
<class 'tuple'>
('Kentucky', 'Frankfort')
<class 'tuple'>
('Ohio', 'Columbus')
<class 'tuple'>

In [53]:
#unpack items
for j,k in data.items():
    print("state: ", j)
    print("capitol: ", k)

state:  Alabama
capitol:  Montgomery
state:  Arizona
capitol:  Phoenix
state:  Georgia
capitol:  Atlanta
state:  Kentucky
capitol:  Frankfort
state:  Ohio
capitol:  Columbus

### Convert dictionary to lists using `list()` function

In [36]:
data

{'Alabama': 'Montgomery',
 'Arizona': 'Pheonix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Frankfort',
 'Ohio': 'Columbus'}

In [37]:
# dictionary keys to a list
list(data.keys())

['Alabama', 'Arizona', 'Georgia', 'Kentucky', 'Ohio']

In [56]:
# dictionary values to a list
list(data.values())

['Montgomery', 'Phoenix', 'Atlanta', 'Frankfort', 'Columbus']

### A List in a Dictionary

In [58]:
fav_language={'jen':['python', 'ruby'],
             'sarah':['c'],
             'edward':['ruby', 'java'],
             'phil':['python','java']}

In [59]:
fav_language

{'jen': ['python', 'ruby'],
 'sarah': ['c'],
 'edward': ['ruby', 'java'],
 'phil': ['python', 'java']}

In [67]:
for name, subjects in fav_language.items():
    print(f"The name is : {name.title()}. The favorite languages are:")
    for i in subjects:
        print("\t\t\t\t\t\t",i)

The name is : Jen. The favorite languages are:
						 python
						 ruby
The name is : Sarah. The favorite languages are:
						 c
The name is : Edward. The favorite languages are:
						 ruby
						 java
The name is : Phil. The favorite languages are:
						 python
						 java

###  A Dictionary in a Dictionary

In [70]:
user={'est':{
    'first': 'albert',
    'last': 'einstein',
    'location': 'prinston'
},
      'mcurie':{
          'first':'marie',
          'last': 'curie',
          'location': 'paris'
      }

}

In [71]:
user

{'est': {'first': 'albert', 'last': 'einstein', 'location': 'prinston'},
 'mcurie': {'first': 'marie', 'last': 'curie', 'location': 'paris'}}

In [72]:
user['est']['first']

'albert'

In [73]:
user['mcurie']['location']

'paris'

In [77]:
for username, user_info in user.items():
    print("Username:" ,username)
    #print(user_info)
    full_name=user_info['first']+" " +user_info['last']
    print("full name: ",full_name)
    print("location: ", user_info['location'])

Username: est
full name:  albert einstein
location:  prinston
Username: mcurie
full name:  marie curie
location:  paris